
.storybook-label {
  color: white;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2px;

  .exit {
    padding: 8px 10px;
    border-radius: 100px;
    background-color: $pallet-green-500;
  }

  .series {
    color: $pallet-green-500;
    padding: 8px 10px;
    border-radius: 100px;
    background: var(--pallet-green-10, #E5F6F4);
  }

  .investor {
    padding: 8px 10px;
    border-radius: 4px;
    background: var(--pallet-blue-400, #486AE4);
  }
}
